@CHARSET "UTF-8";

body {
	background-color: #660000;
}

.z-center,.z-north,.z-east,.z-west,.z-south {
	background-color: #660000;
	color: #F1B772;
	border: 1px solid #B97449;
}

.z-west-noborder,.z-center-noborder,.z-east-noborder,.z-north-noborder,.z-south-noborder {
	border: 0;
}

.lg-label {
	font-size: 14px;
	color: #F1B772;
	text-decoration: none;
}

.z-toolbarbutton {
	background-color: #510000;
}

.z-toolbarbutton-over {
	border: 1px solid #F0C88B;
}

.z-toolbarbutton-over .z-toolbarbutton-body {
	border-left: 1px solid #F0C88B;
	border-right: 1px solid #F0C88B;
}



